/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-list {
  list-style-position: inside;
  padding-left: 0;
}

.centered-list li {
  text-align: center;
}
